/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.7.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: biblioteca
-- ------------------------------------------------------
-- Server version	11.7.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `ACTIUNE`
--

DROP TABLE IF EXISTS `ACTIUNE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ACTIUNE` (
  `IDactiune` int(11) NOT NULL AUTO_INCREMENT,
  `IDcarte` int(11) NOT NULL,
  `IDmembru` int(11) NOT NULL,
  `StatusCarteActiune` enum('├Ämprumutat─â','Returnat─â','Deteriorat─â de membru','├Änlocuit─â de membru') DEFAULT NULL,
  `DataActiune` date NOT NULL,
  `TipActiune` enum('├Ämprumut','Rezervare','Sanc╚¢iune') DEFAULT NULL,
  PRIMARY KEY (`IDactiune`),
  KEY `IDcarte` (`IDcarte`),
  KEY `IDmembru` (`IDmembru`),
  CONSTRAINT `ACTIUNE_ibfk_1` FOREIGN KEY (`IDcarte`) REFERENCES `CARTE` (`IDcarte`),
  CONSTRAINT `ACTIUNE_ibfk_2` FOREIGN KEY (`IDmembru`) REFERENCES `MEMBRU` (`IDmembru`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ACTIUNE`
--

LOCK TABLES `ACTIUNE` WRITE;
/*!40000 ALTER TABLE `ACTIUNE` DISABLE KEYS */;
/*!40000 ALTER TABLE `ACTIUNE` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AUTOR`
--

DROP TABLE IF EXISTS `AUTOR`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `AUTOR` (
  `IDautor` int(11) NOT NULL AUTO_INCREMENT,
  `PrenumeAutor` varchar(100) NOT NULL,
  `NumeAutor` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`IDautor`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AUTOR`
--

LOCK TABLES `AUTOR` WRITE;
/*!40000 ALTER TABLE `AUTOR` DISABLE KEYS */;
/*!40000 ALTER TABLE `AUTOR` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AUTOR_CARTE`
--

DROP TABLE IF EXISTS `AUTOR_CARTE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `AUTOR_CARTE` (
  `IDcarte` int(11) NOT NULL,
  `IDautor` int(11) NOT NULL,
  KEY `IDcarte` (`IDcarte`),
  KEY `IDautor` (`IDautor`),
  CONSTRAINT `AUTOR_CARTE_ibfk_1` FOREIGN KEY (`IDcarte`) REFERENCES `CARTE` (`IDcarte`),
  CONSTRAINT `AUTOR_CARTE_ibfk_2` FOREIGN KEY (`IDautor`) REFERENCES `AUTOR` (`IDautor`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AUTOR_CARTE`
--

LOCK TABLES `AUTOR_CARTE` WRITE;
/*!40000 ALTER TABLE `AUTOR_CARTE` DISABLE KEYS */;
/*!40000 ALTER TABLE `AUTOR_CARTE` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CARTE`
--

DROP TABLE IF EXISTS `CARTE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `CARTE` (
  `IDcarte` int(11) NOT NULL AUTO_INCREMENT,
  `TitluCarte` varchar(100) NOT NULL,
  `AutorCarte` varchar(100) NOT NULL,
  `NrExemplare` int(11) NOT NULL,
  `TipFormat` enum('Tip─ârit─â','Manuscris','E-Book') DEFAULT NULL,
  `Categorie` varchar(100) DEFAULT NULL,
  `AnAparitie` int(11) DEFAULT NULL,
  PRIMARY KEY (`IDcarte`),
  KEY `idx_autor_carte` (`AutorCarte`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CARTE`
--

LOCK TABLES `CARTE` WRITE;
/*!40000 ALTER TABLE `CARTE` DISABLE KEYS */;
/*!40000 ALTER TABLE `CARTE` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `IMPRUMUT`
--

DROP TABLE IF EXISTS `IMPRUMUT`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `IMPRUMUT` (
  `IDactiune` int(11) NOT NULL,
  `PerioadaZile` int(11) NOT NULL,
  KEY `IDactiune` (`IDactiune`),
  CONSTRAINT `IMPRUMUT_ibfk_1` FOREIGN KEY (`IDactiune`) REFERENCES `ACTIUNE` (`IDactiune`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `IMPRUMUT`
--

LOCK TABLES `IMPRUMUT` WRITE;
/*!40000 ALTER TABLE `IMPRUMUT` DISABLE KEYS */;
INSERT INTO `IMPRUMUT` VALUES
(3,30),
(4,14),
(6,7),
(7,30),
(8,14),
(9,7),
(11,14),
(12,7),
(14,30),
(15,14),
(18,14),
(19,7),
(20,30);
/*!40000 ALTER TABLE `IMPRUMUT` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `MEMBRU`
--

DROP TABLE IF EXISTS `MEMBRU`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `MEMBRU` (
  `IDmembru` int(11) NOT NULL AUTO_INCREMENT,
  `NumeMembru` varchar(100) NOT NULL,
  `PrenumeMembru` varchar(100) NOT NULL,
  `StatusMembru` enum('Activ','Inactiv','Suspendat') DEFAULT NULL,
  `DataInscriereMembru` date DEFAULT NULL,
  `CNP_Criptat` varbinary(255) DEFAULT NULL,
  PRIMARY KEY (`IDmembru`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `MEMBRU`
--

LOCK TABLES `MEMBRU` WRITE;
/*!40000 ALTER TABLE `MEMBRU` DISABLE KEYS */;
/*!40000 ALTER TABLE `MEMBRU` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `REZERVARE`
--

DROP TABLE IF EXISTS `REZERVARE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `REZERVARE` (
  `IDactiune` int(11) NOT NULL,
  `TaxaRezervare` int(11) NOT NULL,
  KEY `IDactiune` (`IDactiune`),
  CONSTRAINT `REZERVARE_ibfk_1` FOREIGN KEY (`IDactiune`) REFERENCES `ACTIUNE` (`IDactiune`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `REZERVARE`
--

LOCK TABLES `REZERVARE` WRITE;
/*!40000 ALTER TABLE `REZERVARE` DISABLE KEYS */;
INSERT INTO `REZERVARE` VALUES
(1,10),
(2,5),
(10,15),
(17,10);
/*!40000 ALTER TABLE `REZERVARE` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SANCTIUNE`
--

DROP TABLE IF EXISTS `SANCTIUNE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `SANCTIUNE` (
  `IDactiune` int(11) NOT NULL,
  `TaxaSanctiune` int(11) NOT NULL,
  KEY `IDactiune` (`IDactiune`),
  CONSTRAINT `SANCTIUNE_ibfk_1` FOREIGN KEY (`IDactiune`) REFERENCES `ACTIUNE` (`IDactiune`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SANCTIUNE`
--

LOCK TABLES `SANCTIUNE` WRITE;
/*!40000 ALTER TABLE `SANCTIUNE` DISABLE KEYS */;
INSERT INTO `SANCTIUNE` VALUES
(5,150),
(13,50),
(16,100);
/*!40000 ALTER TABLE `SANCTIUNE` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TAXA`
--

DROP TABLE IF EXISTS `TAXA`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `TAXA` (
  `IDtaxa` int(11) NOT NULL AUTO_INCREMENT,
  `IDmembru` int(11) NOT NULL,
  `Suma` int(11) NOT NULL,
  `StatusTaxa` enum('Pl─âtit─â','Nepl─âtit─â','Restant─â') DEFAULT NULL,
  `ZiPlata` int(11) NOT NULL,
  PRIMARY KEY (`IDtaxa`),
  KEY `IDmembru` (`IDmembru`),
  CONSTRAINT `TAXA_ibfk_1` FOREIGN KEY (`IDmembru`) REFERENCES `MEMBRU` (`IDmembru`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TAXA`
--

LOCK TABLES `TAXA` WRITE;
/*!40000 ALTER TABLE `TAXA` DISABLE KEYS */;
INSERT INTO `TAXA` VALUES
(1,1,20,'Pl─âtit─â',25),
(2,3,20,'Nepl─âtit─â',17),
(3,5,20,'Nepl─âtit─â',3),
(4,7,30,'Pl─âtit─â',24),
(5,10,20,'Pl─âtit─â',14),
(6,9,180,'Restant─â',24),
(7,2,50,'Nepl─âtit─â',10),
(8,4,20,'Pl─âtit─â',5),
(9,6,100,'Restant─â',15),
(10,8,30,'Pl─âtit─â',28),
(11,1,20,'Nepl─âtit─â',20),
(12,3,50,'Pl─âtit─â',1),
(13,5,20,'Restant─â',12),
(14,7,20,'Pl─âtit─â',6),
(15,10,150,'Restant─â',19);
/*!40000 ALTER TABLE `TAXA` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `UTILIZATOR`
--

DROP TABLE IF EXISTS `UTILIZATOR`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `UTILIZATOR` (
  `IDmembru` int(11) NOT NULL,
  `NumeUtilizator` varchar(100) NOT NULL,
  `ParolaUtilizator` varchar(100) NOT NULL,
  KEY `IDmembru` (`IDmembru`),
  CONSTRAINT `UTILIZATOR_ibfk_1` FOREIGN KEY (`IDmembru`) REFERENCES `MEMBRU` (`IDmembru`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `UTILIZATOR`
--

LOCK TABLES `UTILIZATOR` WRITE;
/*!40000 ALTER TABLE `UTILIZATOR` DISABLE KEYS */;
/*!40000 ALTER TABLE `UTILIZATOR` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-10-16 21:38:18
