body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 10px;
    padding: 0;
}
.container-principal {
    width: 90%; 
    max-width: 500px;
    margin: 0 auto; 
    padding: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.card-produs {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
}
h2 {margin-top: 0;}
#btnDetalii {
    padding: 8px 15px;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px; /* Adăugat spațiu sub buton */
}
.ascuns {
    display: none;
}
#detalii {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}
#detalii p {
    margin: 5px 0;
}